body{
display:flex;
align-items:center;
flex-direction:column;
}

#vis-123456{
height:200px;
display:flex;
align-items:flex-end; /* bars grow upward */
position:relative;
border:1px solid lightgray;
}

.bar{
width:7px;
background:black;
margin:0 1px;
}

#motorcycle{
position:absolute;
font-size:28px;
pointer-events:none;
transform: scaleX(-1); /* makes bike face right */
}