body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sort-2504700 {
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.bar {
    width: 7px;
    height: 100%;
    background-color: black;
    margin: 0px 1px;
}

#bike {
    position: relative;
  left: 215px;
  
}