body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#vis-123456 {
    height: 250px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-bottom: 20px;
}

.bar {
    width: 8px;
    background-color: black;
    margin: 0 1px;
}

#motorcycle {
    position: absolute;
    font-size: 25px;
    display: none;
    transform: scaleX(-1);
}