:root {
    --theme: #280;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--theme);
}

#marker {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

button {
    background-color: var(--theme);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #1a5f00;
    transform: scale(1.05);
    cursor: pointer;
}
