body{
font-family: Arial;
text-align: center;
background-color: white;
}

#bars-container{
display:flex;
align-items:flex-end;
justify-content:center;
height:300px;
margin-top:30px;
}

.bar{
width:20px;
margin:2px;
background-color:steelblue;
}

#motorcycle{
font-size:40px;
position:absolute;
top:180px;
left:-100px;
display:none;
z-index:10;
}