body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#vis-123456 {
    height: 200px;
    display: flex;
    align-items: flex-end;
}
.bar {
    position: relative;
    width: 7px;
    height: 100%;
    background-color: grey;
    margin: 0px 1px;
}
.racing-bike {
    position: absolute;
    top: 0%;
    /* transform: translate(-50%,-100%) scaleX(-1); */
}