#vis-123456{
    display:flex;
    align-items:flex-end;
    height:200px;
    position:relative;
}

.bar{
    width:8px;
    margin:1px;
    background:black;
}

#motorcycle{
    position:absolute;
    bottom:0;
    left:0;
    font-size:28px;
    display:none
}
