body{
    font-family: Arial;
    text-align: center;
    background:#f4f4f4;
}

.controls{
    margin:20px;
}

#bars-container{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    height:350px;
    margin-top:40px;
    position:relative;
}

.bar{
    width:8px;
    margin:2px;
    background:black;
}

#motorcycle{
    position:fixed;
    font-size:35px;
    transform: translateX(-50%) scaleX(-1);
    pointer-events:none;
}